<div id="offcanvas-nav" uk-offcanvas="overlay: true">
    <div class="uk-offcanvas-bar">
        <button class="uk-offcanvas-close uk-icon uk-close" type="button" uk-close>

        </button>

        <li class="uk-nav-header">Province</li>


        {{#each provinceCategories}}
        <ul class="uk-nav uk-nav-default uk-nav-parent-icon">

            <li class="uk-parent">

                <a href="#" uk-toggle="target: .toggle-display-{{title}}">{{title}}</a>
                <ul class="uk-nav-sub toggle-display-{{title}}" hidden>

                    {{#each monuments}}

                    <li><a href="/viewMonument/{{_id}}">{{title}}</a></li>


                    {{/each}}




                </ul>
            </li>

        </ul>
        {{/each}}

        <li class="uk-nav-header">Other Categories</li>
        {{#each otherCategories}}
        <ul class="uk-nav uk-nav-default uk-nav-parent-icon">

            <li class="uk-parent">

                <a href="#" uk-toggle="target: .toggle-display-{{title}}">{{title}}</a>
                <ul class="uk-nav-sub toggle-display-{{title}}" hidden>

                    {{#each monuments}}

                    <li><a href="/viewMonument/{{_id}}">{{title}}</a></li>


                    {{/each}}




                </ul>
            </li>

        </ul>
        {{/each}}


    </div>
</div>