<div uk-lightbox class="uk-margin-top">
    <a class="uk-button uk-button-primary" data-type="image" data-caption="{{monument.images.[0].title}}"
        href="{{monument.images.[0].imageUrl}}">View Full Screen
        Image</a>

    {{#each monument.images}}
    <div>

        <a class="uk-inline" href="{{imageUrl}}" data-caption="{{title}}">
            <img src="{{imageUrl}}" style='display: none' alt="">
        </a>


    </div>
    {{/each}}





</div>